@font-face {
    font-family: "opensans_regular";
    src: url("../fonts/OpenSans-Regular.woff");
    font-display: swap;
    font-weight: normal;
}

@font-face {
    font-family: "opensans_bold";
    src: url("../fonts/OpenSans-Bold.woff");
    font-display: swap;
    font-weight: bold;
}

html {
    position: relative;
    inset: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow: auto;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

*, *:after, *:before {
    box-sizing: inherit;
}

body, p, ul, img,
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

input, button {
    font: inherit;
}

.background {
    position: absolute;
    inset: 0;
    background-color: #ffffff;
    z-index: 1;
}

.header {
    position: relative;
    margin: 0 auto;
    background-image: url("../images/banner-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.header::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.menu {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    gap: 150px;
    justify-content: space-between;
    z-index: 10;
}

.logo__block {
    margin: 30px 0 0 3px;
}

.logo {
    color: #ffffff;
    transition: 1s;
}

.logo:hover {
    transform: scale(1.2);
}

.navigation {
    margin-top: 42px;
}

.nav__list {
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
    justify-content: center;
}

.nav__items {
    font-family: "opensans_regular", sans-serif;
    font-size: 13px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.nav__items:hover {
    background-size: 100% 1px;
}

.burger__menu {
    display: none;
}

.hero {
    position: relative;
    max-width: 1170px;
    min-height: 375px;
    margin: 0 auto 57px;
    padding: 30px 240px 30px 233px;
    display: table;
    z-index: 1;
}

.hero__title {
    font-family: "opensans_bold", sans-serif;
    font-size: 45px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.7;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.trands {
    margin: 0 auto 63px;
    text-align: center;
}

.trands__title {
    font-family: "opensans_bold", sans-serif;
    color: rgb(15, 13, 14);
    text-transform: uppercase;
}

.trands__title::after {
    content: "";
    display: block;
    width: 66px;
    border: 2px solid rgba(181, 159, 91, 0.4);
    margin: 8px auto 28px auto;
}

.trands__container {
    display: flex;
    margin: 0 auto;
    gap: 5px;
    justify-content: center;
    flex-wrap: nowrap;
}

.trand__content {
    position: relative;
    width: calc((100% - 15px) / 4);
    min-height: 320px;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #6176424f;
}

.trand1 {
    background-image: url("../images/trend1.jpg");
}

.trand2 {
    background-image: url("../images/trend2.jpg");
}

.trand3 {
    background-image: url("../images/trend3.jpg");
}

.trand4 {
    background-image: url("../images/trend4.jpg");
}

.trand__content::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.trand__sub {
    position: relative;
    width: 100%;
    margin: 17px 20px;
    padding: 37px 31px 31px;
    text-align: left;
    border: 3px solid rgb(181, 159, 91);
    z-index: 1;
}

.trand__list {
    display: flex;
    gap: 5px 21px;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.trand__items {
    font-family: "opensans_bold", sans-serif;
    font-size: 14px;
    line-height: 1.2;
    color: rgb(181, 159, 91);
    text-transform: uppercase;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.trand__items:hover {
    background-size: 100% 2px;
}

.trand__subtitle {
    position: relative;
    display: block;
    font-family: "opensans_bold", sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    transition: 0.5s;
}

.trand__subtitle:hover {
    color: rgb(181, 159, 91);
}

.content {
    max-width: 1200px;
    margin: 0 auto 62px;
    display: flex;
    gap: 120px;
    justify-content: center;
}

.article {
    max-width: 780px;
    display: flex;
    flex-direction: column;
    gap: 61px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.article__block {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.article__img {
    width: 380px;
    background-color: #dce5cf4f;
    object-fit: cover;
}

.article__content {
    max-width: 367px;
}

.article__list {
    display: flex;
    gap: 5px 19px;
    flex-wrap: wrap;
    margin-bottom: 8px;
}

.article__items {
    font-family: "opensans_bold", sans-serif;
    font-size: 14px;
    line-height: 1.2;
    color: rgb(181, 159, 91);
    text-transform: uppercase;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.article__items:hover {
    background-size: 100% 2px;
}

.article__title {
    display: block;
    margin-bottom: 30px;
    font-family: "opensans_bold", sans-serif;
    color: rgb(15, 13, 14);
    text-transform: uppercase;
    line-height: 1.2;
    transition: 0.5s;
}

.article__title:hover {
    color: rgb(181, 159, 91);
}

.article__time {
    margin-right: 8px;
    font-family: "opensans_regular", sans-serif;
    font-size: 12px;
    color: rgb(136, 136, 136);
}

.article__author {
    margin-bottom: 50px;
    font-family: "opensans_bold", sans-serif;
    font-size: 12px;
    color: rgb(0, 0, 0);
}

.article__text {
    margin-top: 45px;
    font-family: "opensans_regular", sans-serif;
    font-size: 15px;
    color: rgb(15, 13, 14);
    line-height: 1.467;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}

.article__subtext {
    margin-top: 10px;
    font-family: "opensans_regular", sans-serif;
    font-size: 15px;
    color: rgb(15, 13, 14);
    line-height: 1.467;
}

.aside {
    max-width: 270px;
}

.post {
    margin-bottom: 59px;
}

.post__title {
    font-family: "opensans_bold", sans-serif;
    font-size: 14px;
    line-height: 0.7;
    color: rgb(15, 13, 14);
    text-transform: uppercase;
    text-align: center;
}

.post__title::after {
    content: "";
    display: block;
    width: 66px;
    border: 2px solid rgba(181, 159, 91, 0.4);
    margin: 13px auto 29px auto;
}

.post__container {
    display: flex;
    flex-direction: column;
    gap: 22px;
    flex-wrap: wrap;
}

.post__block {
    display: flex;
    gap: 20px;
}

.post__img {
    width: 70px;
    font-size: 12px;
    background-color: #dce5cf4f;
    object-fit: contain;
}

.post__content {
    max-width: 180px;
}

.post__time {
    display: block;
    margin: -4px 0 2px;
    font-family: "opensans_regular", sans-serif;
    font-size: 12px;
    color: rgb(136, 136, 136);
}

.post__subtitle {
    font-family: "opensans_bold", sans-serif;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 1.286;
    transition: 0.5s;
}

.post__subtitle:hover {
    color: rgb(181, 159, 91);
}

.search {
    display: flex;
    margin-bottom: 56px;
    flex-wrap: nowrap;
}

.search__form {
    width: 220px;
    height: 50px;
    background-color: rgb(244, 247, 246);
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.search__input {
    width: 100%;
    padding: 15px;
    font-family: "opensans_regular", sans-serif;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.541);
    border-width: 0px;
    background-color: transparent;
}

.search__input:focus {
    border: 1px solid rgb(181, 159, 91);
}

.search__input:focus::placeholder {
    opacity: 0; 
    transition: opacity 0.5s ease;
}

.search__input:focus-visible {
    outline: transparent !important;
}

.search__submit {
    width: 50px;
    background-color: rgb(181, 159, 91);
    padding-top: 5px;
    transition: 0.5s;
}

.search__submit:hover {
    background-color: rgb(50, 50, 50);
}

.newsletter {
    margin-bottom: 55px;
}

.newsletter__title {
    font-family: "opensans_bold", sans-serif;
    font-size: 14px;
    color: rgb(15, 13, 14);
    text-transform: uppercase;
    text-align: center;
}

.newsletter__title::after {
    content: "";
    display: block;
    width: 66px;
    border: 2px solid rgba(181, 159, 91, 0.4);
    margin: 10px auto 20px auto;
}

.newsletter__form {
    width: 270px;
    height: 50px;
    margin-bottom: 17px;
    background-color: rgb(244, 247, 246);
}

.newsletter__input {
    width: 100%;
    padding: 15px;
    font-family: "opensans_regular", sans-serif;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.541);
    border-width: 0px;
    background-color: transparent;
}

.newsletter__input:focus {
    border: 1px solid rgb(181, 159, 91);
}

.newsletter__input:focus::placeholder {
    opacity: 0; 
    transition: opacity 0.5s ease;
}

.newsletter__input:focus-visible {
    outline: transparent !important;
}

.newsletter__submit {
    width: 100%;
    height: 50px;
    background-color: rgb(181, 159, 91);
    font-family: "opensans_bold", sans-serif;
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    transition: 0.5s;
}

.newsletter__submit:hover {
    background-color: rgb(50, 50, 50);
}

.tag {
    margin-bottom: 56px;
}

.tag__title {
    font-family: "opensans_bold", sans-serif;
    font-size: 14px;
    color: rgb(15, 13, 14);
    text-transform: uppercase;
    text-align: center;
}

.tag__title::after {
    content: "";
    display: block;
    width: 66px;
    border: 2px solid rgba(181, 159, 91, 0.4);
    margin: 9px auto 25px auto;
}

.tag__list {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.tag__item {
    height: 30px;
    border: 3px solid rgb(238, 238, 238);
    transition: 0.5s;
}

.tag__item:hover {
    border-color: rgb(181, 159, 91);
}

.tag__link {
    padding: 13px;
    font-family: "opensans_bold", sans-serif;
    font-size: 12px;
    color: rgb(15, 13, 14);
    text-transform: uppercase;
    vertical-align: middle;
}

.theme {
    width: 270px;
    margin-bottom: 60px;
}

.theme__title {
    font-family: "opensans_bold", sans-serif;
    font-size: 14px;
    color: rgb(15, 13, 14);
    text-transform: uppercase;
    text-align: center;
}

.theme__title::after {
    content: "";
    display: block;
    width: 66px;
    border: 2px solid rgba(181, 159, 91, 0.4);
    margin: 11px auto 20px auto;
}

.theme__item {
    height: 34px;
    margin-top: 13px;
    border-bottom: 1px solid rgb(238, 238, 238);
    transition: 0.5s;
}

.theme__link {
    font-family: "opensans_bold", sans-serif;
    font-size: 14px;
    color: rgb(0, 0, 0);
}

.theme__link:hover {
    color: rgb(181, 159, 91);
}

.theme__sum {
    font-family: "opensans_bold", sans-serif;
    font-size: 12px;
    color: rgb(181, 159, 91);
    vertical-align: super;
}

.products {
    max-width: 1170px;
    margin: 0 auto 60px;
    text-align: center;
}

.products__title {
    font-family: "opensans_bold", sans-serif;
    color: rgb(15, 13, 14);
    text-transform: uppercase;
}

.products__title::after {
    content: "";
    display: block;
    width: 66px;
    border: 2px solid rgba(181, 159, 91, 0.4);
    margin: 8px auto;
}

.products__container {
    display: flex;
    gap: 65px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product__container {
    display: flex;
    flex-direction: column;
    width: 345px;
    padding: 19px 21px 30px 22px;
}

.product__img {
    display: block;
    width: 300px;
    object-fit: cover;
    text-align: left;
    background-color: #dce5cf4f;
    z-index: -1;
}

.product__content {
    max-width: 300px;
    padding: 22px 0 3px;
    flex-grow: 1;
    text-align: left;
    outline: 3px solid rgb(181, 159, 91);
    outline-offset: 21px;
}

.product__subtitle {
    margin-bottom: 4px;
    font-family: "opensans_bold", sans-serif;
    color: rgb(15, 13, 14);
    text-transform: uppercase;
}

.product__about {
    margin-bottom: 22px;
    font-family: "opensans_regular", sans-serif;
    color: rgb(15, 13, 14);
}

.product__aboutlink {
    color: rgb(181, 159, 91);
}

.product__aboutlink:hover {
    text-decoration: underline;
}

.product__group {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.product__price {
    font-family: "opensans_bold", sans-serif;
    color: rgb(15, 13, 14);
    text-transform: uppercase;
    text-align: left;
}

.product__link {
    width: 141px;
    height: 49px;
    padding: 15px;
    background-color: rgb(181, 159, 91);
    font-family: "opensans_bold", sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
}

.product__link:hover {
    background-color: rgb(50, 50, 50);
}

.footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.contact {
    display: flex;
    gap: 26px;
    padding: 31px 0 32px;
    background-color: rgb(244, 247, 246);
    justify-content: center;
}

.contact__item {
    width: 20px;
    height: 20px;
    color: rgb(0, 0, 0);
    transition: 1s;
}

.contact__item:hover {
    transform: scale(1.4);
    color: rgb(181, 159, 91);
}

.copyright {
    padding: 70px 0 44px 0;
    text-align: center;
}

.copyright__content {
    font-family: "opensans_bold", sans-serif;
    font-size: 12px;
    color: rgb(153, 153, 153);
    transition: 1s;
}

.copyright__content:hover {
    color: rgb(181, 159, 91);
}

.feedback {
    position: fixed;
    right: 30px;
    bottom: 10px;
    color: rgb(181, 159, 91);
    cursor: pointer;
    z-index: 8;
}

.feedback:hover {
    color:rgb(50, 50, 50);
}

.popup {
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    will-change: transform;
    overflow-y: auto;
    cursor: pointer;
    z-index: 100;
}

.popup__block {
    max-width: 390px;
    margin: auto;
    cursor: default;
}

.popup__close {
    width: 17px;
    height: 17px;
    margin-left: calc(100% - 16px);
    margin-bottom: 8px;
    color: #ffffff;
}

.popup__container {
    padding: 50px 30px;
    background-color: #ffffff;
    text-align: center;
    cursor: default;
}

.popup__title {
    font-family: "opensans_bold", sans-serif;
    color: rgb(15, 13, 14);
    text-transform: uppercase;
    margin-bottom: 24px;
}

.popup__title::after {
    content: "";
    display: block;
    width: 66px;
    border: 2px solid rgba(181, 159, 91, 0.4);
    margin: 8px auto;
}

.popup__content {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;
    margin-bottom: 29px;
}

.popup__subtitle {
    font-family: "opensans_regular", sans-serif;
    font-weight: 400;
    color: rgb(15, 13, 14);
}

.popup__select {
    display: block;
    width: 100%;
    font-family: "opensans_regular", sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.541);
    padding: 18px 35px 18px 20px;
    border: 1px solid transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: rgb(244, 247, 246);
    background-image: url("../images/icon/form-arrows.svg"), linear-gradient(to bottom, rgb(244, 247, 246) 0%,rgb(244, 247, 247) 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 12px top 50%, 0 0;
    background-size: 10px auto, 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.popup__select::-ms-expand {
    display: none;
}

.popup__select:focus-visible {
    border-color: rgb(181, 159, 91);
    outline: none;
}

.radio__menu {
    font-family: "opensans_regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.radio__menu input {
    position: relative;
    width: 12px;
    height: 12px;
    margin: 6px 3px 0px 5px;
    outline: 1px solid rgb(181, 159, 91);
    outline-offset: 2px;
    border-radius: 50%;
    transition: 0.2s all ease-in-out;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.radio__menu input:checked {
    border: 1px solid rgb(181, 159, 91);
    border-radius: 50%;
    background: rgb(181, 159, 91);
}

.radio__menu label {
    margin-right: 10px;
    cursor: pointer;
}

.comments {
    max-width: 331px;
    height: 132px;
    resize: none;
    padding: 18px;
    font-family: "opensans_regular", sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.541);
}

.popup__content textarea:valid {
    border: 1px solid transparent;
    background: rgb(244, 247, 246);
}

.popup__content textarea:focus-visible {
    border-color: rgb(181, 159, 91);
    outline: none;
}

.comments:focus::placeholder {
    opacity: 0; 
    transition: opacity 0.5s ease;
}

.comments::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.comments::-webkit-scrollbar-button:start:decrement,
.comments::-webkit-scrollbar-button:end:increment  {
    height: 1px;
    background-color: transparent;
}

.comments::-webkit-scrollbar-track-piece  {
    background-color: rgba(181, 159, 91, 0.3);
    border-radius: 5px;
}

.comments::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: rgb(181, 159, 91);
    border-radius: 5px;
}

.sand__button {
    width: 100%;
    height: 49px;
    background-color: rgb(181, 159, 91);
    font-family: "opensans_bold", sans-serif;
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    transition: 0.5s;
}

.sand__button:hover {
    background-color: rgb(50, 50, 50);
}

@media (max-width: 1199px) {
    .header {
        background-image: url("../images/banner-bg-tablet.jpg");
    }

    .menu {
        padding: 0 24px;
    }

    .logo {
        scale: 0.9;
    }

    .logo__block {
        margin: 40px 0 0;
    }

    .navigation {
        display: none;
    }

    .burger__menu {
        position: absolute;
        display: block;
        top: 15px;
        right: 35px;
    }

    #burger__switch {
        opacity: 0;
    }

    .burger__list {
        position: relative;
        top: 15px;
        display: flex;
        align-items: center;
        width: 23px;
        height: 23px;
        cursor: pointer;
        z-index: 10;
        transition: 0.3s;
    }

    .burger__list > span,
    .burger__list > span::before,
    .burger__list > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: rgb(255, 255, 255);
        transition: 0.3s ease-in-out;
    }

    .burger__list > span::before {
        content: '';
        top: -8px;
    }

    .burger__list > span::after {
        content: '';
        top: 8px;
    }

    .burger__nav {
        position: absolute;
        top: 0;
        right: -100%;
        width: 200px;
        display: none;
        padding: 80px 0 20px;
        background-color: rgba(181, 159, 91, 0.8);
        z-index: 9;
    }

    .burger__nav_active {
        display: block;
	right: -10px;
        transition: 0.3s ease-in-out;
    }

    .nav__items {
        margin-bottom: 20px;
        font-size: 18px;
    }

    .background__dim {
        position: fixed;
        inset: 0;
        z-index: 5;
        display: none;
        background-color: rgba(0, 0, 0, 0.5);
	will-change: transform;
        cursor: pointer;
    }

    .background__dim_active {
        display: block;
        transition: 0.3s ease-in-out;
    }

    #burger__switch:checked ~ .burger__list > span {
        transform: rotate(45deg);
    }

    #burger__switch:checked ~ .burger__list > span::before {
        top: 0;
        transform: rotate(0);
    }

    #burger__switch:checked ~ .burger__list > span::after {
        top: 0;
        transform: rotate(90deg);
    }

    .hero {
        max-width: 700px;
        min-height: 309px;
        margin-bottom: 42px;
        padding: 45px;
    }

    .hero__title {
        font-size: 40px;
    }

    .trands {
        margin-bottom: 51px;
    }

    .trands__title::after {
        margin-bottom: 19px;
    }

    .trands__container {
        flex-wrap: wrap;
    }

    .trand__content {
        width: calc((100% - 5px) / 2);
        min-height: 246px;
    }

    .trand__sub {
        margin: 15px 19px;
        padding: 32px 30px 21px;
    }

    .trand__list {
        margin-bottom: 8px;
    }

    .content {
        margin-bottom: 11px;
        padding: 0 35px;
        gap: 45px;
    }

    .article {
        gap: 16px;
    }

    .article__block {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        gap: 19px;
    }

    .article__img {
        width: 100%;
        height: auto;
    }

    .article__content {
        max-width: 100%;
        margin-bottom: 28px;
        padding-bottom: 18px;
        border-bottom: 3px solid rgb(238, 238, 238);
    }

    .article__title {
        letter-spacing: -0.2px;
    }

    .article__text {
        margin: 26px auto 0;
    }

    .products {
        margin-bottom: 69px;
        padding: 0 35px;
    }

    .products__container {
        gap: 28px 24px;
    }

    .product__container {
        width: calc((100% - 24px) / 2);
        padding: 20px 23px 6px 22px;
    }

    .product__img {
        width: 100%;
    }

    .product__content {
        max-width: 100%;
        padding-top: 18px;
    }

    .product__subtitle {
        margin-bottom: 1px;
    }

    .product__about {
        margin-bottom: 21px;
    }

    .footer {
        padding: 0 35px;
    }

    .copyright {
        padding: 44px 0 36px 0;
    }

    .popup__close {
        width: 27px;
        height: 27px;
        margin-left: calc(100% - 27px);
    }

    .radio__menu input {
        width: 15px;
        height: 15px;
        margin: 8px 7px 0px 4px;
        outline-offset: 3px;
    }

    .radio__menu label {
        margin-right: 30px;
    }
}

@media (max-width: 640px) {
    .header {
        min-height: 640px;
        margin-bottom: 35px;
        background-image: url("../images/banner-mobile.jpg");
    }

    .menu {
        gap: 0;
        justify-content: center;
        padding-top: 195px;
    }

    .burger__menu {
        top: 9px;
        right: 16px;
    }
    
    .burger__list {
	top: 0;
    }

    .logo {
        margin: 0;
        scale: 1.5;
        cursor: default;
    }

    .logo:hover {
        transform: none;
    }

    .hero {
        max-width: 360px;
        min-height: 320px;
        padding: 40px 30px;
    }

    .hero__title {
        font-size: 26px;
        vertical-align: text-top;
    }

    .trands {
        margin-bottom: 44px;
    }

    .trands__title::after {
        margin: 6px auto 25px;
    }

    .trands__container {
        gap: 3px;
        flex-wrap: wrap;
    }

    .trand__content {
        width: 100%;
        min-height: 231px;
    }

    .trand__sub {
        margin: 16px 14px;
        padding: 30px 21px 25px;
    }

    .trand__subtitle {
        font-size: 16px;
    }

    .content {
        margin-bottom: 45px;
        padding: 0 15px;
        flex-direction: column;
        gap: 20px;
    }

    .article {
        gap: 12px;
        justify-content: center;
    }

    .article__block {
        gap: 14px;
    }

    .article__content {
        max-width: 100%;
        margin-bottom: 22px;
        padding-bottom: 19px;
        border-bottom: 3px solid rgb(238, 238, 238);
    }

    .article__list {
        margin-bottom: 9px;
    }

    .article__title {
        font-size: 16px;
        margin-bottom: 17px;
    }

    .article__text {
        margin-top: 12px;
        font-size: 14px;
    }

    .article__subtext {
        margin-top: 5px;
        font-size: 14px;
    }

    .aside {
        max-width: 100%;
    }

    .post__title {
        font-size: 16px;
    }

    .post__container {
        gap: 22px 18px;
    }

    .post__block {
        gap: 16px;
    }

    .post__content {
        max-width: 100%;
    }

    .search {
        margin-bottom: 39px;
    }

    .search__form {
        width: 100%;
        height: 48px;
    }

    .search__submit {
        width: 55px;
    }

    .newsletter {
        margin-bottom: 37px;
    }

    .newsletter__title {
        font-size: 16px;
    }

    .newsletter__form {
        width: 100%;
    }

    .newsletter__input {
        padding: 17px;
    }

    .tag {
        margin-bottom: 39px;
    }

    .tag__title {
        font-size: 16px;
    }

    .theme {
        width: 100%;
        margin: 0 auto;
    }

    .theme__title {
        font-size: 16px;
    }

    .theme__title::after {
        margin: 8px auto 20px auto;
    }

    .products {
        margin-bottom: 35px;
        padding: 0 15px;
    }

    .products__title {
        font-size: 16px;
    }

    .products__title::after {
        margin: 9px auto 8px;
    }

    .products__container {
        gap: 3px;
    }

    .product__container {
        width: 100%;
        padding: 18px 24px 30px 21px;
    }

    .product__img {
        width: 100%;
    }

    .product__content {
        max-width: 100%;
        padding-bottom: 6px;
    }

    .product__subtitle {
        font-size: 17px;
        margin-bottom: 3px;
    }

    .product__about {
        margin-bottom: 25px;
        font-size: 15px;
        letter-spacing: -0.1px;
    }

    .product__group {
        flex-wrap: wrap;
    }

    .footer {
        padding: 0 15px;
    }

    .copyright {
        padding: 45px 0;
    }

    .feedback {
        right: 10px;
        bottom: 10px;
    }

    .feedback svg {
        width: 40px;
        height: 40px;
    }

    .popup__block {
        max-width: 330px;
    }

    .popup__close {
        width: 27px;
        height: 27px;
        margin-left: calc(100% - 27px);
        margin-bottom: 5px;
    }

    .popup__container {
        padding: 25px 26px 28px 24px;
    }

    .popup__title {
        font-size: 15px;
    }

    .popup__title::after {
        margin: 10px auto;
    }

    .popup__content {
        gap: 7px;
        margin-bottom: 30px;
    }

    .popup__content:last-of-type {
        margin-bottom: 25px;
    }

    .popup__select {
        padding: 18px 35px 15px 18px;
    }
}

@media (max-width: 1199px) and (orientation: landscape) {
    .trands__container {
        max-width: 100vw;
        flex-wrap: nowrap;
    }
}

@media (max-height: 640px) and (max-width: 1024px) and (orientation: landscape) {
    .trands__container {
        max-width: 100vw;
        flex-wrap: wrap;
    }

    .trand__content {
        max-width: calc((100vw - 3px) / 2);
    }
}
